-
    const link_1 = "https://www.ozon.ru/product/shchit-elektricheskiy-v-sbore-1346644877/?_bctx=CAQQo6Bh&asb=1QlBi7%252BxNkF%252Fk7WqKp72El%252BEHMa%252BvXIy5p5LHMUrpOo%253D&asb2=dNy3a6EWT7haKbqX0jJoL9Du8Zr3j_yK3ozKUANrkoYnSeEdx1Duew3uQDyfJbUVlKTcxtL57lbAGFjOkKDQ0w&avtc=1&avte=2&avts=1728475246&hs=1&tab=reviews"
    const link_2 = "https://www.ozon.ru/product/shchit-elektricheskiy-v-sbore-1420468976/?_bctx=CAQQo6Bh&asb=LMOCSAiv5KlRz9iXFicSuadWBwJfEwLyl3nfub8wQCY%253D&asb2=eXqIpfiW21OfXjIwzO3Z92QIAWvchxEFQFYcUUEF9tZui5mhKjtUr0W1EdYwJYmg&avtc=1&avte=2&avts=1728475246&hs=1&tab=reviews"
    const link_3 = "https://www.ozon.ru/product/shchit-elektricheskiy-v-sbore-1639068028/?_bctx=CAQQo6Bh&asb=ntWYnIFUtUZssgJAuhujTxoIZEhKLWPeOf%252BSkvhoIPI%253D&asb2=B3eIoj4FvP8_CzFdETaR8eM8vcD3scFPrKIgcpe98A9HeQvESeT9g4G_6tmPuyp1gmRuNn42Y1MKbAwQDXZa9A&avtc=1&avte=2&avts=1728475246&hs=1&tab=reviews"
    const link_all = "https://www.ozon.ru/seller/elektroshchitrf-1593379/raspredelitelnye-shchity-9847/?miniapp=seller_1593379"


section.reviews#reviews
    .reviews__container
        h2.title-section Отзывы

        ul.reviews__list.container
            li.reviews__item
                p.reviews__item-text Отличная сборка, продавец грамотный, компетентный, ответил на все вопросы. Рекомендую 100%! Цена качество.
                span.reviews__item-author Дмитрий
                a.reviews__item-link(href=link_1 target="_blank") Отзыв с Озон

            li.reviews__item
                p.reviews__item-text Достоинства: Пришел вовремя, Отличная комплектация. Недостатков нет, все понравилось.
                span.reviews__item-author Алексей
                a.reviews__item-link(href=link_2 target="_blank") Отзыв с Озон

            li.reviews__item
                p.reviews__item-text Все как заявлено! Рекомендую.
                span.reviews__item-author Наталия
                a.reviews__item-link(href=link_3 target="_blank") Отзыв с Озон

        a.button.button--outline.reviews__button(href=link_all target="_blank") Смотреть все отзывы


