section.reviews#reviews
    .reviews__container
        h2.title-section Отзывы

        ul.reviews__list.container
            li.reviews__item
                p.reviews__item-text Мастер своего дела. Собрал щит для частного дома под все наши пожелания и бюджет! Всегда на связи! Однозначно рекомендую!
                span.reviews__item-author Павел
                a.reviews__item-link(href="" target="_blank") Отзыв с Авито

            li.reviews__item
                p.reviews__item-text Заказал щит в квартиру по своему ТЗ. Собрал в оговоренные сроки, учел все пожелания, консультировал, предложил как сделать лучше. Работой доволен! Отличный продавец! Рекомендую!
                span.reviews__item-author Сергей
                a.reviews__item-link(href="" target="_blank") Отзыв с Авито

            li.reviews__item
                p.reviews__item-text Приятный, вежливый, пунктуальный продавец. Всё чётко и по делу, отправил быстро. Приобретенным товаром доволен, рекомендую.
                span.reviews__item-author Тимофей
                a.reviews__item-link(href="" target="_blank") Отзыв с Авито

        a.button.button--outline.reviews__button(href="##") Смотреть все отзывы


