section.product-page
    .product-page__container.container

        h1.product-page__title.ff-decor 3-х фазный 24 модуля накладной

        .product-page__slider
            .swiper-top
                .swiper-wrapper
                    img.swiper-slide(src="./assets/img/catalog/01.jpg")
                    img.swiper-slide(src="https://static.tildacdn.com/tild3066-3238-4539-b165-613136636463/photo.jpg")
                    img.swiper-slide(src="https://vulelectro.ru/assets/content/production/raspredelitelnyij-shhitok-v-kvartire/gfx3zj-raspredelitelnyij-shhitok-v-kvartire.jpg")
            .swiper-thumbs
                .swiper-wrapper
                    img.swiper-slide(src="./assets/img/catalog/01.jpg")
                    img.swiper-slide(src="https://static.tildacdn.com/tild3066-3238-4539-b165-613136636463/photo.jpg")
                    img.swiper-slide(src="https://vulelectro.ru/assets/content/production/raspredelitelnyij-shhitok-v-kvartire/gfx3zj-raspredelitelnyij-shhitok-v-kvartire.jpg")


        .product-page__buy
            span.product-page__price 22 801 ₽
            button.button.button--accent.product-page__button Купить
        .product-page__modifications
            .product-page__modifications-item.product-page__companies
                h3.product-page__modifications-item-title Производитель комплектующих
                ul.product-page__companies-list
                    li.product-page__companies-item
                        img(src="./assets/img/icons/companies/dekraft.jpeg")
                    li.product-page__companies-item
                        img(src="./assets/img/icons/companies/abb.webp")
                    li.product-page__companies-item
                        img(src="./assets/img/icons/companies/chint.jpg")
                    li.product-page__companies-item
                        img(src="./assets/img/icons/companies/iek.webp")
                    li.product-page__companies-item
                        img(src="./assets/img/icons/companies/keaz.jpg")

            .product-page__modifications-item.product-page__case
                h3.product-page__modifications-item-title Корпус
                ul.product-page__case-list
                    li.product-page__case-item.product-page__case-item--checked Встраеваемый
                    li.product-page__case-item Накладной


        .product-page__data
            .product-page__params
            .product-page__desc
