.main-catalog
  margin-top: 48px
  @include mobile
    margin-top: 24px

  &__grid
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 32px
    @include tablet
      gap: 16px
      grid-template-columns: repeat(2, 1fr)
    @media (max-width: 540px)
      grid-template-columns: 1fr

    @media (min-width: $width-mobile)
      &:hover > :not(:hover) img
        filter: blur(4px)

  .v-line-inner::before
    left: calc(33.333% - 5px)
    top: -15px
  .v-line-inner::after
    right: calc(33.333% - 5px)
    top: -15px
