include ../_items/data-cards

section.main-catalog
    .main-catalog__container.container.v-line
        h1.title-section Электрический щит в сборе

        include ../_items/filter/filter

        .main-catalog__grid
            +randerCards(dataCards)