section.hero
    .hero__container.container.v-line
        .hero__wrapper
            .hero__inner
                .hero__header
                    h1.hero__title.ff-decor Электрический <br> щит в сборе
                    span.hero__subtitle Для дома, квартиры и дачи

                a.button.button.button--accent.hero__button(href="catalog.html" data-da=".hero__wrapper, 1200, last") Перейти в каталог

            //img.hero__img(src="./assets/img/hero.jpg" data-da=".hero__header, 1200, 2")
            img.hero__img(src="./assets/img/products/10-12м1pe/01.jpg" data-da=".hero__header, 1200, 2")
