dialog.form-message#formMessage
    button.form-message__close(type="button" onclick="window.formMessage.close()") &#x2715;
    .form-message__item.form-message__item--success(hidden)
        h2.form-message__title.ff-decor Спасибо!
        p.form-message__text В течении 30 минут с вами свяжется менеджер для оформления заказа.

    .form-message__item.form-message__item--error(hidden)
        h2.form-message__title.ff-decor Ошибка отправки!
        p.form-message__text При отправке формы произошла ошибка. <br> Пожалуйста свяжитесь с нами по телефону #[a(href="tel:+79999999999") +7 (999)-999-99-99]

    button.form-message__cancel.button.button--accent(type="button" onclick="window.formMessage.close()") Хорошо
