footer.footer#footer
    .footer__container.container.v-line-inner

        .footer__top
            .footer__platforms(data-da=".footer__container, 767, 1")
                a(href="##" target="_blank"): img(src="./assets/img/icons/avito.svg")
                a(href="##" target="_blank"): img(src="./assets/img/icons/ozon.svg")

            a.footer__logo(href='./')
                include ../../img/logo.svg

            address.footer__contacts
                h4.footer__contacts-caption Контакты
                a.footer__contacts-item(href="tel:+79999999999") +7 (999)-999-99-99
                a.footer__contacts-item(href="mailto:injenernieresheniya@mail.ru") injenernieresheniya@mail.ru

        .footer__bottom
            span.footer__copyright ©2024 <br> #[a(href="##") Политика конфиденциальности]
            span.footer__details(data-da=".footer__contacts, 767, last") ОГРН&nbsp;1057749631994 <br> ИНН&nbsp;7727563778