-
  var ozon_link = "https://www.ozon.ru/seller/elektroshchitrf-1593379/stroitelstvo-i-remont-9700/?miniapp=seller_1593379"

footer.footer#footer
    .footer__container.container.v-line

        .footer__top
            .footer__platforms(data-da=".footer__container, 767, 1")
                a(href=ozon_link target="_blank" title="Магазин на Озон"): img(src="./assets/img/icons/ozon.svg")

            a.footer__logo(href='./')
                include ../../img/logo.svg

            address.footer__contacts
                h4.footer__contacts-caption Контакты
                a.footer__contacts-item(href="tel:+79194109550") +7 (919)-410-95-50
                a.footer__contacts-item(href="tel:+79190688146") +7 (919)-068-81-46
                a.footer__contacts-item(href="mailto:injenernieresheniya@mail.ru") injenernieresheniya@mail.ru

        .footer__bottom
            .footer__author
                a(href="https://t.me/str8zh1" target="_blank") Дизайнер @str8zh1
                a(href="https://t.me/sinceresv" target="_blank") Разработчик @sinceresv

            span.footer__copyright ©2024 <br> #[a(href="##") Политика конфиденциальности]
            span.footer__details(data-da=".footer__contacts, 767, last") ОГРН&nbsp;1166952059680 <br> ИНН&nbsp;6950192090