section.catalog
    .catalog__container
        h2.title-section.container Каталог

        .catalog__list.container
            include ../_items/card/card

        a.button.button--accent.catalog__button(href="##") Смотреть полностью