include ../_items/data-cards

.v-line-inner-block
    .v-line-inner.container

section.catalog.catalog--similar
    .catalog__container.container.swiper
        h2.title-section Похожие

        .catalog__list.swiper-wrapper
            +randerSlidesCards(dataCards, 1, 2, 3)

