include ../_items/data-cards

section.catalog
    .catalog__container.container.swiper
        h2.title-section Каталог

        .catalog__list.swiper-wrapper
            +randerSlidesCards(dataCards, 1, 2, 3)

        a.button.button--accent.catalog__button(href="catalog.html") Смотреть полностью