extends ../layouts/main

block variables
  - let title = "Электрощит однофазный 36 модулей"
  - classMain = "product"

block content
    include ../blocks/product-page/1-phase-36-modules

    include ../blocks/_items/data-cards
    +similarSlides(dataCards, 1, 3)

    include ../blocks/reviews/reviews
    include ../blocks/feedback/feedback
    include ../blocks/assembly/assembly
