extends ../layouts/main

block variables
  - let title = 'Электрощит однофазный 12 модуля'
  - classMain = "product"

block content
    include ../blocks/product-page/1-phase-12-modules

    //include ../blocks/sdek/sdek

    include ../blocks/_items/data-cards
    +similarSlides(dataCards, 1, 7)

    include ../blocks/reviews/reviews
    include ../blocks/feedback/feedback
    include ../blocks/assembly/assembly
