extends ../layouts/main

block variables
  - let title = "Электрощит однофазный 24 модуля"
  - classMain = "product"

block content
    include ../blocks/product-page/1-phase-24-modules

    include ../blocks/_items/data-cards
    +similarSlides(dataCards, 3, 7)

    include ../blocks/advantages/advantages
    include ../blocks/reviews/reviews
    include ../blocks/feedback/feedback
