extends ../layouts/main

block variables
  - var title = "Инженерные решения.рф | Электрические щиты в сборе и на заказ"
  - classMain = "product"

block content
    include ../blocks/product-page/product-page
    include ../blocks/catalog/catalog
    include ../blocks/reviews/reviews
    include ../blocks/feedback/feedback
    include ../blocks/assembly/assembly
