extends ../layouts/main

block variables
  - let title = "Электрощит трехфазный 12 модулей"
  - classMain = "product"

block content
    include ../blocks/product-page/3-phase-12-modules

    include ../blocks/_items/data-cards
    +similarSlides(dataCards, 2, 5, 6)

    include ../blocks/reviews/reviews
    include ../blocks/feedback/feedback
    include ../blocks/assembly/assembly
