extends ../layouts/main

block variables
  - let title = 'Электрощит трехфазный 54 модуля'
  - classMain = "product"

block content
    include ../blocks/product-page/3-phase-54-modules

    include ../blocks/_items/data-cards
    +similarSlides(dataCards, 4, 5, 6)

    include ../blocks/advantages/advantages
    include ../blocks/reviews/reviews
    include ../blocks/feedback/feedback
