extends ../layouts/main

block variables
  - var title = "Инженерные решения.рф | Каталог готовых электрических щитов"

block content
    include ../blocks/main-catalog/main-catalog
    include ../blocks/feedback/feedback