extends ../layouts/main

block variables
    - var title = "Инженерные решения.рф | Электрические щиты в сборе и на заказ"

block content
    include ../blocks/hero/hero
    include ../blocks/advantages/advantages
    include ../blocks/catalog/catalog
    include ../blocks/reviews/reviews
    include ../blocks/assembly/assembly
    include ../blocks/feedback/feedback