section.first-screen#first-screen

    button.first-screen__assembly.first-screen__item
        h1.first-screen__title.ff-decor Типовые решения
        //p.first-screen__desc Jorem ipsum dolor sit amet, consectetur adipiscing elit.


    a.first-screen__to-order.first-screen__item(href="brief.html")
        h1.first-screen__title.ff-decor На заказ
        //p.first-screen__desc Jorem ipsum dolor sit amet, consectetur adipiscing elit.