section.first-screen#first-screen

    a.first-screen__assembly.first-screen__item(href="./")
        h1.first-screen__title.ff-decor Щиты в сборе
        //p.first-screen__desc Jorem ipsum dolor sit amet, consectetur adipiscing elit.


    a.first-screen__to-order.first-screen__item(href="brief.html")
        h1.first-screen__title.ff-decor Щиты на заказ
        //p.first-screen__desc Jorem ipsum dolor sit amet, consectetur adipiscing elit.