a.card(href="")
    .card__img
        img(src="./assets/img/catalog/01.jpg")
    .card__data
        h3.card__caption Название щита
        span.card__price 22 801 ₽
        ul.card__params
            li.card__params-item
                span Номинальная мощность
                span 230 в
            li.card__params-item
                span Степень защиты
                span IP 40
            li.card__params-item
                span Количество модулей
                span 24
            li.card__params-item
                span Количество рядов
                span 2


a.card(href="")
    .card__img
        img(src="./assets/img/catalog/01.jpg")
    .card__data
        h3.card__caption Название щита
        span.card__price 22 801 ₽
        ul.card__params
            li.card__params-item
                span Номинальная мощность
                span 230 в
            li.card__params-item
                span Степень защиты
                span IP 40
            li.card__params-item
                span Количество модулей
                span 24
            li.card__params-item
                span Количество рядов
                span 2


a.card(href="")
    .card__img
        img(src="./assets/img/catalog/01.jpg")
    .card__data
        h3.card__caption Название щита
        span.card__price 22 801 ₽
        ul.card__params
            li.card__params-item
                span Номинальная мощность
                span 230 в
            li.card__params-item
                span Степень защиты
                span IP 40
            li.card__params-item
                span Количество модулей
                span 24
            li.card__params-item
                span Количество рядов
                span 2