.card
  position: relative
  display: flex
  flex-direction: column
  gap: 16px
  align-items: center
  border: 1px solid $black
  padding: 16px
  line-height: 1
  background-color: $bg
  min-width: 285px
  transition: $transition
  @include mobile
    padding: 12px
  @media (min-width: $width-tablet)
    &:hover img
      filter: brightness(0.6)
    &:hover .card__caption::after
      width: 100%
  &.js-hidden
    display: none

  &__img
    max-height: 380px
    overflow: hidden
    img
      transition: $transition
      height: 100%
    @include tablet
      max-height: 300px
    @include mobile
      max-height: 270px

  &__data
    width: 100%

  &__caption
    position: relative
    @include fontSize(18, 22)
    text-align: center
    width: fit-content
    margin: 0 auto 16px
    &::after
      content: ""
      position: absolute
      left: 0
      bottom: -2px
      width: 0
      height: 1px
      background-color: currentColor
      transition: $transition

  &__price
    display: block
    @include fontSize(24, 28)
    font-weight: 700
    margin: 0 auto 24px
    text-align: center

  &__params
    width: 100%
    display: flex
    flex-direction: column
    gap: 12px

  &__params-item
    display: flex
    gap: 8px
    justify-content: space-between
    padding-bottom: 8px
    @include fontSize(16, 20)
    &:not(:last-child)
      border-bottom: 1px solid $grey-line
    span:nth-child(2)
      white-space: nowrap


  @media (min-width: $width-tablet)
    &:nth-child(3n+1)::before
      content: ""
      position: absolute
      top: -16px
      width: 150vw
      height: 1px
      background-color: $grey-line

