section.advantages
    .advantages__container.container.v-line-inner

        ul.advantages__list
            li.advantages__item
                img.advantages__item-icon(src="./assets/img/advantages/01.svg")
                span.advantages__item-caption Честная цена

            li.advantages__item
                img.advantages__item-icon(src="./assets/img/advantages/02.svg")
                span.advantages__item-caption Гарантия 1 год

            li.advantages__item
                img.advantages__item-icon(src="./assets/img/advantages/03.svg")
                span.advantages__item-caption Простая установка