.advantages
  border-top: 1px solid $grey-line
  border-bottom: 1px solid $grey-line
  @include tablet
    padding: 40px 0

  &__container
    @media (min-width: $width-tablet)
      max-width: 1230px


  &__list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    align-items: center
    @include tablet
      gap: 32px
    @include mobile
      gap: 40px
      grid-template-columns: 1fr

  &__item
    display: flex
    flex-direction: column
    gap: 20px
    align-items: center
    justify-content: center
    font-size: 24px
    font-weight: 600
    text-decoration: underline
    text-align: center
    @media (min-width: $width-tablet)
      padding: 48px 0
      height: 100%
      transition: $transition
      cursor: pointer
      &:hover
        background-color: $grey-line
        outline: 1px solid $accent
    @include mobile
      font-size: 20px
      &:nth-child(1) img
        width: 70px
      &:nth-child(2) img
        width: 52px
      &:nth-child(3) img
        width: 47px

  &__popup
    background-color: $white
    overflow-y: auto
    min-height: 330px
    max-width: 768px
    width: calc(100% - 32px)
    font-size: 20px
    padding: 48px 48px 80px
    margin: auto
    text-wrap: balance
    @include mobile
      font-size: 16px
      min-height: 280px
      padding: 40px 16px
    &::backdrop
      background-color: rgba(#000, 0.6)
    &[open]
      @extend .flex-center
      flex-direction: column

    &-close
      font-weight: 600
      font-size: 20px
      position: absolute
      right: 24px
      top: 24px
      @include mobile
        right: 16px
        top: 16px
        font-size: 16px

