section.assembly#assembly
    .assembly__container.container
        h2.title-section Процесс сборки

        .assembly__video
            video(controls preload="auto" muted playsinline)
                //source(src="https://getfile.dokpub.com/yandex/get/https://yadi.sk/i/KmIioPAeIg6l5g" type="video/mp4")
                source(src="./assets/files/video.webm" type="video/webm")