section.assembly#assembly
    .assembly__container.container
        h2.title-section Процесс сборки

        .assembly__video
            video(controls preload="auto" muted playsinline) // https://getfile.dokpub.com/yandex/get/KmIioPAeIg6l5g"
                source(src="https://getfile.dokpub.com/yandex/get/https://yadi.sk/i/KmIioPAeIg6l5g" type="video/mp4")
                source(src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm" type="video/webm")