script(src="https://cdn.jsdelivr.net/npm/@cdek-it/widget@3" type="text/javascript")
script(src="https://cdn.jsdelivr.net/npm/@unocss/runtime" type="text/javascript")

.sdek
    p Пример инициализации виджета с указанием всех параметров виджета
    button.button.button--accent(type="button" onclick="window.widget.open()") Показать ПВЗ