include ../blocks/mixins
include ../blocks/_items/obj-prices


block variables
  - const classMain = classMain

doctype html
html(lang="ru-RU")
    include head
    body
        include ../blocks/loader/loader
        include ../blocks/header/header
        main(class=classMain)
            block content
        include ../blocks/footer/footer
        include ../blocks/first-screen/first-screen
        include ../blocks/popup/popup
        include ../blocks/form-message/form-message
    include scripts
