-
    const dataCards = [
        {
          id: 1,
          assembly: 1,
          link: "1-phase-24-modules.html",
          imgSrc: "./assets/img/products/24m1p/01.jpg",
          caption: "Однофазный 24 модуля",
          price: 23000,
          modules: 24,
          phases: 1,
        },

        {
            id: 2,
            assembly: 8,
            link: "3-phase-54-modules.html",
            imgSrc: "./assets/img/catalog/01.jpg",
            caption: "Трехфазный 54 модуля",
            price: 40800,
            modules: 54,
            phases: 3,
        },

        {
            id: 3,
            assembly: 9,
            link: "1-phase-12-modules.html",
            imgSrc: "./assets/img/catalog/01.jpg",
            caption: "Однофазный 12 модулей",
            price: 14500,
            modules: 12,
            phases: 1,
        },

        {
            id: 4,
            assembly: 10,
            link: "3-phase-12-modules.html",
            imgSrc: "./assets/img/catalog/01.jpg",
            caption: "Трехфазный 12 модулей",
            price: 9500,
            modules: 12,
            phases: 3,
        },

        {
            id: 5,
            assembly: 12,
            link: "3-phase-24-modules.html",
            imgSrc: "./assets/img/catalog/01.jpg",
            caption: "Трехфазный 24 модуля",
            price: 19100,
            modules: 24,
            phases: 3,
        },

        {
            id: 6,
            assembly: 15,
            link: "3-phase-36-modules.html",
            imgSrc: "./assets/img/catalog/01.jpg",
            caption: "Трехфазный 36 модулей",
            price: 25800,
            modules: 36,
            phases: 3,
        },

        {
            id: 7,
            assembly: 17,
            link: "1-phase-12-modules.html",
            imgSrc: "./assets/img/catalog/01.jpg",
            caption: "Однофазный 36 модулей",
            price: 25800,
            modules: 36,
            phases: 1,
        },
    ]