-
  const objPrices = {
    "24m1p": { // Электрощит однофазный 24 модуля
      dekraft: 23000,
      abb: 34000,
      chint: 27000,
      iek: 23500,
      keaz: 25000,
    },

    "36m3p": { // Электрощит трехфазный 36 модулей
      dekraft: 25800,
      abb: 45200,
      chint: 32200,
      iek: 26200,
      keaz: 30200,
    },

    "54м3рРН": { // Электрощит трехфазный 54 модуля
      dekraft: 40800,
      abb: 58900,
      chint: 45800,
      iek: 41300,
      keaz: 42900,
    },

    "36м1рРН": { // Электрощит однофазный 36 модулей
      dekraft: 27600,
      abb: 41900,
      chint: 32600,
      iek: 27700,
      keaz: 30600,
    },

    "24м3р": { // Электрощит трехфазный 24 модуля
      dekraft: 19200,
      abb: 35800,
      chint: 24200,
      iek: 19800,
      keaz: 22900,
    },

    "12м1рРН": { // Электрощит однофазный 12 модулей
      dekraft: 14500,
      abb: 18300,
      chint: 15600,
      iek: 14300,
      keaz: 14800,
    },

    "12м3р": { // Электрощит трехфазный 12 модулей
      dekraft: 9500,
      abb: 12500,
      chint: 11000,
      iek: 9500,
      keaz: 10600,
    },

  }