header.header
    .container.header__container
        a.header__logo(href='./'): img(src="./assets/img/logo.svg")

        nav.header__nav.header-nav
            ul.header-nav__list
                li.header-nav__item
                    a.header-nav__link(href='##') Каталог
                li.header-nav__item
                    a.header-nav__link(href='##') Отзывы
                li.header-nav__item
                    a.header-nav__link(href='##') Задать вопрос
                li.header-nav__item
                    a.header-nav__link(href='##') Процесс сборки
                li.header-nav__item
                    a.header-nav__link(href='##') Контакты

        a.header__phone(href="tel:+79999999999") +7 (999)-999-99-99


        button(type="button").header__burger
            span.header__burger-line.header__burger-line-1
            span.header__burger-line.header__burger-line-2
            span.header__burger-line.header__burger-line-3