form.form

    label.form__label-input Ваше имя
        input( type="text" placeholder="Иван" name="name" minlength="3" maxlength="20" autocomplete="off" required)

    label.form__label-input Номер телефона
        input( type="tel" name="phone" inputmode="tel" autocomplete="off" required)

    .form__connection
        span.form__connection-caption Удобный способ связи

        fieldset
            label.form__label-radio Telegram
                input(type="radio" name="connection" value="Telegram")

            label.form__label-radio Whatsapp
                input(type="radio" name="connection" value="Whatsapp" checked)

            label.form__label-radio Почта
                input(type="radio" name="connection" value="Почта")

    button.form__submit.button.button--accent(type="submit") Оставить заявку
    p.form__agreement Нажимая на кнопку, вы даете согласие на обработку #[a(href="" download) персональных данных]