dialog.form-popup#formPopup
    button.form-popup__close(type="button" onclick="window.formPopup.close()") &#x2715;

    .form-popup__body
        .form-popup__header
            h2.form-popup__title.ff-decor Новый заказ
            span.form-popup__product-name
            span.form-popup__product-price
        .form-popup__mod
            .form-popup__mod-item.form-popup__mod-item--company
                h3 Комплектующие:
                span
            .form-popup__mod-item.form-popup__mod-item--case
                h3 Корпус:
                span
            .form-popup__mod-item.form-popup__mod-item--loop
                h3 Петли:
                span

        include ../form/form