dialog.form-popup#formPopup
    button.form-popup__close(type="button" onclick="window.formPopup.close()") &#x2715;

    .form-popup__body
        .form-popup__header
            h2.form-popup__title Новый заказ
            span.form-popup__product-name
            span.form-popup__product-price
            span.form-popup__product-company
        .form-popup__mod
            .form-popup__mod-item.form-popup__mod-item--case
                h3 Корпус
                fieldset
                    label Встраеваемый
                        input(type="radio" name="case" value="Встраеваемый")
                    label Накладной
                        input(type="radio" name="case" value="Накладной")

            .form-popup__mod-item.form-popup__mod-item--loop
                h3 Корпус
                fieldset
                    label Слева
                        input(type="radio" name="loop" value="Слева")
                    label Справа
                        input(type="radio" name="loop" value="Справа")

        include ../form/form